<h2>Last posts</h2>
<br>
	<%@posts.each do |postsColumn|%>
	<p><%=postsColumn['content']%>
		<br>
		<br>
		Create by: <%=postsColumn['userName']%>
		<br>
		Added at: <%=postsColumn['create_date']%>

		<br>
		<br>
		<a href="/post/<%=postsColumn['id']%>">Comments</a>
	</p>
	<hr/>
 <% end %>
