<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h2> Add new post</h2>
<p>
	We will add new post here
</p>
<form action="/newPost" method="POST" role="form">
  <div class="form-group">
   <textarea name="postUser" class="form-control" rows="10" placeholder="pleez in you text you"></textarea>
   <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>